#
.git/
.gitconfig
.github/
data/
log/
ssh/
.exc/settings.json
freeze/
kitty/
coc/
alacritty/

.hyper.js
.Rhistory
.swift-format
.swiftformat
.theia-ide/


.conf/nvim/lazy-lock.json

.conf/nvim/README.md
